---
import { skillColorAssociate } from '../utils/skillsColors';
import '/src/styles/global.css';

interface Skill {
    skill: string;
}
interface EducationCardProps {
    name: string;
    school: string;
    from: string;
    to: string;
    description: string;
    skills: Skill[];
}

const { name, school, from, to, description, skills } = Astro.props as EducationCardProps;

---

<div class="educationCard">
    <div class="topContent">
        <div class="educationTitle">
            <h1>{name}</h1>
            
        </div>
        <h2 class="SchoolName">{school}</h2>
        <div class="FromTo">
            <span>{from}</span>
            -
            <span>{to}</span>
        </div>
    </div>
    <div class="belowContent">
        <div class="description">
            <p>{description} </p>
        </div>
        <div class="skills">
            <div class="toolsTitle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FFFFFF" d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4l54.1 0 109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109 0-54.1c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7L352 176c-8.8 0-16-7.2-16-16l0-57.4c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
                <span>Skills</span>
            </div>
            <div class="skills-wrap">
                {
                    skills.map(({skill}) => (
                        <div class={skillColorAssociate(skill) +  ` skill`}>
                            <span>{skill}</span>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="belowLine"></div>
        <div class="titleLine"></div>
    </div>
    
</div>

<style>
    body.light-theme .educationCard .belowContent .skills .toolsTitle svg path {
        fill: black;
    }
    body.light-theme .titleLine {
        background-color: black;
    }
        
    .educationCard {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .educationCard:hover .titleLine {
        transition: all 300ms ease;
        width: 300px;
    }
    .educationCard .topContent {
        display: flex;
        flex-direction: column;
    }
    .educationCard .topContent .educationTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .titleLine {
        width: 100%;
        height: 2px;
        background-color: white;
    }
    .educationCard .topContent .educationTitle h1 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
    }
    .educationCard .topContent .SchoolName {
        font-size: 20px;
        font-weight: bold;
        color: var(--gray-color-1);
        margin: 0;
    }
    .educationCard .topContent .FromTo {
        font-size: 18px;
        color: var(--gray-color-1);
    }
    .educationCard .belowContent {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } 
    .educationCard .belowContent .description {
        color: var(--gray-color-1);
    }
    .educationCard .belowContent .skills {
        width: 100%;
    }
    .educationCard .belowContent .skills .toolsTitle {
        display: flex;
        gap: 5px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .educationCard .belowContent .skills .toolsTitle svg {
        width: 20px;
        height: 20px;
    }
    .educationCard .belowContent .skills .skills-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .educationCard .belowContent .skills .skills-wrap .skill {
        display: flex;
        align-items: center;
        color: black;
        font-size: 14px;
        padding: 0px 10px 0px 10px;
        border-radius: 4px;
        height: 25px;
    }
    .skill:nth-child(1) {
        background-color: var(--javascript-skill-color);
    }
    .skill:nth-child(2) {
        background-color: var(--css-skill-color);
    }
    .skill:nth-child(3) {
        background-color: var(--html-skill-color);
    }
    .skill:nth-child(4) {
        background-color: var(--typescript-skill-color);
    }

    @media (max-width: 1160px) {
        
        .educationCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            width: 100%;
            height: auto;
            border: 1px solid var(--gray-color-1);
            border-radius: 5px;
            padding: 24px 36px 24px 36px;
            box-sizing: border-box;

        }
        .titleLine {
            display: none;
        }
        .educationCard .belowContent .skills {
            display: none;
        }
        .educationCard .belowContent {
            flex-direction: column;
            gap: 20px;
        }
        .belowLine {
            align-self: flex-end;
            width: 100%;
            height: 2px;
            background-color: #FFFFFF;
            transition: all 300ms ease;
        }
        .educationCard:hover .belowLine {
            width: 25%;
        }

        
    }

    @media (max-width: 750px) {
        .educationCard {
            width: 100%;
        }
    }

    

</style>