---
import { getCollection } from "astro:content";
import EducationCard from "../../components/EducationCard.astro";
import CertificationCard from "../../components/CertificationCard.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
import "@fontsource-variable/raleway";

export const getStaticPaths = async () => {
  const contacts = await getCollection("education");

  const paths = contacts.map((page) => ({
    params: {
      lang: page.data.lang,
    },
  }));;
  
  console.log(paths);
  return paths;
};

const { lang } = Astro.params;

const education = await getCollection("education");

const currentPage = education.find((p) => p.data.lang === lang);

if(!currentPage) {
	throw new Error(`Page not found for ${lang}/contact`)
}

const { data } = currentPage;

const { title, description, training, titleCertifications, descriptionCertifications, certifications} = data;
console.log("Certificaciones", certifications);
---

<Layout>
    <div class="education">
        <div class="content-education">
            <div class="education-info">
                <h2>{title}</h2>
                <p>{description}</p>
            </div>
            <div class="education_wrap">
                {
                    training.length > 0 && (
                        training.map((t) => (
                            <EducationCard 
                                name={t.name} 
                                school={t.school} 
                                from={t.from} 
                                to={t.to}
                                description={t.description}
                                skills={t.skills}
                            />
                        ))
                    )
                }
            </div>
            
        </div>
        <div class="content-courses">
            <div class="courses-info">
                <h2>{titleCertifications}</h2>
                <p>{descriptionCertifications}</p>
            </div>
            <div class="courses_wrap">
                {
                    certifications.length > 0 && (
                        certifications.map((t) => (
                            <CertificationCard 
                                 name={t.name}
                                 taughtBy={t.taughtBy}
                             />
                        ))
                    )
                }
            </div>
        </div>
    </div>
</Layout>

<style>
    .education {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .education .content-education .education-info h2 {
        font-size: 24px;
    }
    .education .content-education .education-info p {
        color: var(--gray-color-1);
    }
    .education .content-education .education_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        gap: 20px;
    }
    .education .content-courses .courses-info p {
        color: var(--gray-color-1);
    }   
    
</style>